doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1', name='viewport')
    title Mica y Fede
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    h1 ¡Mica y Fede!
    script(src='js/app.js')
